<div layout="column" layout-wrap md-whiteframe="4" layout-margin>
    <label layout="column" flex="20">Find</label>
    <md-autocomplete flex="80" layout="column" md-auto-select="true" md-selected-item="market.tagFilter" md-items="item in market.tags" md-item-text="item.name">
        <span md-highlight-text="searchText">{{item.name}}</span>
    </md-autocomplete>
</div>

<div layout="row" layout-wrap>
    <card ng-repeat="card in market.cards" id="card.id" ng-show="market.checkCardTags(market.tagFilter, card.tags)"></card>
</div>