<md-subheader class="md-primary">Find</md-subheader>
<div layout="row"layout-wrap>
    <h2 flex="20">Find</h2>
    <md-autocomplete md-auto-select="true" flex=80 md-selected-item="market.tagFilter" md-items="item in market.tags" md-item-text="item.name">
        <span md-highlight-text="searchText">{{item.name}}</span>
    </md-autocomplete>
</div>

<div layout="row" layout-wrap>
    <card ng-repeat="card in market.cards" id="card.id" ng-show="market.checkCardTags(market.tagFilter, card.tags)"></card>
</div>