
<header layout="column">
    <div class="head-title md-primary"><h2>User {{app.user.name}}</h2></div>
    <md-toolbar class="head-tabs-bar" flex md-whiteframe="4" 
        ng-style="tabs.topBarStyle">
        <md-tabs md-stretch-tabs md-selected="selectedIndex">
            <md-tab ng-repeat="url in tabs.urls" 
                ui-sref="app.{{url.url}}" md-active="tabs.stateName == url.url">
                <md-icon 
                    aria-label="{{ url.name }}"
                    class="material-icons step"
                    ng-class="it.size">
                    {{url.icon}}
                </md-icon>
            </md-tab>
        </md-tabs>
    </md-toolbar>
</header>