<md-toolbar>
    <div class="md-toolbar-tools">
        <md-icon class="material-icons" ui-sref="landing" flex="1"> arrow_back </md-icon>
        <h1>Register new Account</h1>
    </div>
</md-toolbar>
<md-content layout="column" flex layout-padding>
    <md-input-container>
        <label>Email</label>
        <input ng-model="register.model.email" type="email">
    </md-input-container>
    <md-input-container>
        <label>Password</label>
        <input ng-model="register.model.password" type="password">
    </md-input-container>
    <md-input-container>
        <label>Full Name</label>
        <input ng-model="register.model.full_name">
    </md-input-container>
    <md-button ng-click="register.send()">Submit</md-button>
</md-content>
