<md-toolbar>
    <div class="md-toolbar-tools">
        <div flex="10" ui-sref="landing">
            <img id="logo" src="../assets/img/logo.png">
        </div>
    </div>
</md-toolbar>
<md-content layout="column" flex layout-padding>
    <p class="md-headline">Unvault <span class="md-subhead"> - your mind ;)</span></p>
    <p flex layout="row">
        Unvault is here to open / unleash your mind and learn new stuff
    </p>
    <div layout="row">
        <md-button class="md-raised md-primary" ui-sref="app.home" flex>go to app</md-button>
    </div>
    <div layout="row">
        <md-button class="md-raised md-primary" ui-sref="login" flex="50">Login</md-button>
        <md-button class="md-raised md-primary" ui-sref="register" flex="50">Register</md-button>
    </div>
</md-content>