<md-card>
    <md-card-content layout="row">
        <gravatar layout-xs="row" layout-gt-xs="column" flex-gt-sm="20" flex-gt-xs="40" email="app.user.email" size="600"></gravatar>
        <h2 layout-xs="row" layout-gt-xs="column" flex-gt-sm="80" flex-gt-xs="60">Full Name: {{app.user.full_name}}</h2>
    </md-card-content>
    <md-card-content>
        Full Name: {{app.user.full_name}}
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button>Save</md-button>
    </md-card-actions>
</md-card>
